# dependencies 
node_modules/ 
 
# build 
/dist/ 
coverage/ 
 
# environment 
.env 
.env.* 
!.env.example 
 
# logs 
npm-debug.log* 
yarn-debug.log* 
yarn-error.log* 
pnpm-debug.log* 
 
# OS / editor 
.DS_Store 
Thumbs.db 
.vscode/ 
.idea/ 
 
# local archives 
*.tar.gz 
*.zip 
 
# pocketbase local data 
apps/pocketbase/pb_data/ 
 
# pocketbase binaries generated locally if needed 
apps/pocketbase/*.exe 
apps/pocketbase/*.db 
apps/pocketbase/*.db-*
